<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
      <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="134217728" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
